body, html {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

svg {
  border: 1px solid #000;
}

.arc text {
  font: 16px Arial, Georgia, sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #ffffff;
}
